:root {
  --light-grey: #C0C0C0;
  --dark-blue: #283747;
}

#root {
  background-color: orange;
}

.drum-machine {
  background-color: var(--light-grey, grey);
  margin: 15vh 25vw 15vh 25vw;
  padding: 5vh 1vw 5vh 1vw;
  width: 50vw;
  height: 75vh;
  box-shadow: 1px 1px 8px 1px; 
  border-radius: 1%;
  display: flex;
}

.button-grid {
  display: grid;
  grid-template-columns: 9vw 9vw 9vw;
  grid-template-rows: 20vh 20vh 20vh;
  grid-gap: 2vh 1vw;
}

.drum-pad {
  box-shadow: 1px 1px 8px 1px; 
  background-color: gray;
}

.btn-label {
  font-size: 20px;
  font-family: Montserrat;
}

.functions {
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
}

.power {
  display: flex;
  flex-direction: column;
}

.power-label {
  font-family: Roboto;
  font-size: 15px;
}

.power-button {
  margin: auto;
}

.display {
  background-color: gray;
  margin-top: 10vh;
  height: 20vh;  
  width: 14vw;
  padding-top: 5vh;
}

.audio-label {
  font-family: Roboto;
  font-size: 15px;
}

